In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from pathlib import Path

In [ ]:
def load_data():
    #Loads the most recent CSV file from the current directory
    raw_path = Path(".")
    processed_path = Path("./processed.parquet")
    latest_path = max(raw_path.glob("*.csv"), key=lambda p: p.stat().st_mtime)
    dff = pd.read_csv(latest_path)

    #feature engineering - date features
    dff['Date']= pd.to_datetime(dff['Date'], format='%d-%m-%Y')
    dff = dff.sort_values('Date').reset_index(drop=True)
    dff['week']=dff['Date'].dt.isocalendar().week
    dff['month']=dff['Date'].dt.month
    dff['year']=dff['Date'].dt.year

    #feature engineering - lag features
    dff['lag_1']=dff.groupby('Store')['Weekly_Sales'].shift(1)
    dff['lag_2']=dff.groupby('Store')['Weekly_Sales'].shift(2)
    dff['lag_52']=dff.groupby('Store')['Weekly_Sales'].shift(52)

    #drop rows with NaN values
    dff = dff.dropna().reset_index(drop=True)

    return dff

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,week,month,year,lag_1,lag_2,lag_52
0,8,2011-02-04,944594.78,0,24.48,2.989,215.932780,6.262,5,2,2011,782256.66,822668.23,1004137.09
1,31,2011-02-04,1443206.46,0,36.33,2.989,212.224065,8.028,5,2,2011,1254955.68,1344167.13,1469252.05
2,4,2011-02-04,2119086.04,0,34.61,2.996,127.719581,6.510,5,2,2011,1814240.85,1886393.94,2135143.87
3,12,2011-02-04,1046068.17,0,45.14,3.348,127.719581,14.021,5,2,2011,873119.06,802105.50,1100046.37
4,27,2011-02-04,1628100.79,0,28.70,3.400,137.054243,7.827,5,2,2011,1421111.55,1517029.90,1874289.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4090,25,2012-10-26,688940.94,0,56.69,3.882,216.151590,7.293,43,10,2012,685531.85,697317.41,724443.97
4091,5,2012-10-26,319550.77,0,71.70,3.506,224.037814,5.422,43,10,2012,313358.15,325345.41,307035.11
4092,40,2012-10-26,921264.52,0,49.65,3.917,138.728161,4.145,43,10,2012,918170.50,982523.26,941675.95
4093,18,2012-10-26,1127516.25,0,56.09,3.917,138.728161,8.243,43,10,2012,1048706.75,1074079.00,1106642.63
4094,45,2012-10-26,760281.43,0,58.85,3.882,192.308899,8.667,43,10,2012,718125.53,734464.36,781694.57

np.int64(0)